<html>
<head>
<title>Beget</title>
<meta http-equiv="Content-Type" content="text/html">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../style/style.css">
<link rel="stylesheet" type="text/css" href="../style/my_style.css" />
</head>


<body  bgcolor="#ffffff" border=0 style="overflow:scroll;overflow-x:auto;">

<table  border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF"  align="center">
<tr valign="top"> 
  <td width=1000> 
    
       <!-- BEGIN TOP -->
       {TEXT_TOP}
       <!-- END TOP   -->
  </td>
 </tr>

 <tr valign="top"> 
   <td colspan="10"> 

     <!-- BEGIN BODY -->
     {TEXT2}
     <!-- END BODY -->
   </td>	
 </tr>
</table>
</body>
