<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Beget - качественный хостинг</title>
  <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
  <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon">
  <link rel="stylesheet" href="../style/style.css">
</head>


<body>
  <center>
  <table class="main_table" cellspacing="0" cellpadding="0">
    <tr>
      <td class="top_border">
      </td>
    </tr>
    <tr>
      <td class="center_border">
      <center>
        <table class="center_table" cellspacing="0" cellpadding="0">
          <tr>
            <td>
            <!-- BEGIN TOP -->
            {TEXT_TOP}
            <!-- END TOP -->
            </td>
          </tr>
          <tr>
            <td>
	    <br>
            <center>
            <!-- BEGIN DOCUMENT -->{START}
	    <fieldset style="border: 1px solid rgb(228, 228, 228); padding: 10px; width: 550px;">
            <table width="550" align="center" border="0">
              <tr>
                <td>
                  <table border="0" width="100%">
                  <tr>
                    <td width="100">
                      <img alt="Support" border="0" src="/images/feedback_big.png"/>
                    </td>
                    <td>
                      <center>
                       <h2>Обратная связь</h2>
                      </center>
                    </td>
                  </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="left">
                <form method="POST">
                <input type="hidden" name="actions" value="sendRequest">
                <table border="0" width="550">
                  <tr>
                    <td width="150" align="left">
                      Отдел
                    </td>
                    <td>
                      <select name="select_service_name" id="select_service_name" style="width: 400px;">
						<option value="support">техническая поддержка (support@beget.ru) </option>
						<option value="clients">клиентский отдел (clients@beget.ru) </option>
						<option value="manager">менеджер (manager@beget.ru) </option>
						<option value="billing">бухгалтерия (billing@beget.ru) </option>
					  </select>
                    </td>
                  </tr>
                  <tr>
                    <td width="150" align="left">
                      Тема
                    </td>
                    <td>
                      <input id="subject" name="subject" value='' style="width: 400px;"/>
                    </td>
                  </tr>
                  <tr>
                    <td width="150" align="left" valign="top">
                      Ваш вопрос
                    </td>
                    <td>
                      <textarea id="body" name="body" style="width: 400px; height:80px;"></textarea>
                    </td>
                  </tr>
                  <tr>
                    <td width="150" align="left" valign="top">
                    </td>
                    <td>
                      <input type="submit" style="width: 400px;" value=" Отправить запрос (Ctrl + Enter) "/>
                    </td>
                  </tr>

                </table>
                </form>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp; В любое время вы можите связатся с нами следующими способами:<br><br>
                <table border="0">
                  <tr>
                    <td>
                     Email:
                    </td>
                    <td>
                     <a href="mailto:support@beget.ru">support@beget.ru</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                     ICQ:
                    </td>
                    <td>
                     963141
                    </td>
                  </tr>
                  <tr>
                    <td>
                     Телефон:
                    </td>
                    <td>
                     8 (812) 953-68-28
                    </td>
                  </tr>
                </table><br>
                </td>
              </tr>
            </table>
	    </fieldset>
            <!-- END DOCUMENT -->
            </center>
            </td>
          </tr>
        </table>
       </center>
       </td>
     </tr>
     <tr>
       <td class="floor_border">
         <div align="right" style="margin-right:30px;">Панель Управления аккаунтом (C) ООО "BeGet".</div>
       </td>
     </tr>
  </table>
  </center>
	      {ALERT}   
</body>





